<div class="container-fluid bottom-navbar" style="z-index: 10000;">
    <div class="row no-gutters justify-content-around" style="font-size: 18px; z-index: 1000; padding: 0 0 5px 0;">
        <div class="col-xs-3"><a class="nav-link bottom-link bottom-active-link" href="/home"><img src="/img/home.png"
                    class="navbar-icon" alt="icon name"></a></div>
        <div class="col-xs-3"><a class="nav-link bottom-link " href="/tickets"><img src="/img/park-tickets-couple.png"
                    class="navbar-icon" alt="icon name"></a></div>
        <div class="col-xs-3"><a class="nav-link bottom-link " href="/rewards"><img src="/img/medal.png"
                    class="navbar-icon" alt="icon name"></a></div>
        <div class="col-xs-3"><a class="nav-link bottom-link " href="/profile"><img src="/img/man-user.png"
                    class="navbar-icon" alt="icon name"></a></div>
    </div>
</div>