{{> header}}

<div class="container-fluid remove-padding">
    <div class="row d-flex justify-content-around hero-container">
        <div class="hero-content align-self-center">
                <div class="d-flex justify-content-around mt-2">
                    <h4 class="header-flight-text font-weight-bold">Thank you for purchasing</h4>
                </div>
                <div class="d-flex justify-content-around mt-2">
                    <h4 class="header-flight-text font-weight-bold">Warsaw → Cracow</h4>
                </div>
                <div class="d-flex justify-content-around m-2">
                    <h6 class="header-flight-text">18.09.2019 10:35 → 11:45</h6>
                </div>

        </div>
    </div>

    <div class="row mt-2 recommended-text">
        <h5 class="font-weight-bold">&nbsp;</h5>
    </div>
    <div class="row mt-2 d-flex justify-content-around">
        <div class="align-self-center">
                <div class="d-flex justify-content-around pl-4 pr-4">
                    <button type="button" class="btn btn-primary form-control">Tickets</button>
                </div>
                <div class="d-flex justify-content-around mt-2">
                    <button type="button" class="btn btn-outline-primary form-control">Check-list</button>
                </div>
        </div>
    </div>
</div>

{{> footer}}