{{> header}}
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-12 text-center">
            <h2>🎫 Your tickets</h2>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <ul class="list-group">
                <li class="list-group-item">
                    <h5>🛫 Warsaw → Cracow</h5>
                    <p>18.09.2019 10:35 → 11:45</p>
                    <a href="/check-in/1">
                        <button type="button" class="form-control mt-2 btn btn-primary ">Check-in</button>
                    </a>
                    <a href="/check-list/1">
                        <button type="button" class="form-control mt-2 btn btn-outline-primary ">Guide & Check-list</button>
                    </a>
                </li>
                <li class="list-group-item">
                    <h5>🛫 Warsaw → Budapest</h5>
                    <p>21.09.2019 17:20 → 19:05</p>
                    <a href="/boarding-pass/1">
                        <button type="button" class="form-control mt-2 btn btn-success ">Boarding pass</button>
                    </a>
                    <button type="button" class="form-control mt-2 btn btn-outline-primary ">Guide & Check-list</button>
                </li>
                <li class="list-group-item">
                    <h5>🛫 Rzeszow → New York</h5>
                    <p>09.10.2019 14:40 → 18:40</p>
                    <button type="button" class="form-control mt-2 btn btn-success ">Boarding pass</button>
                    <button type="button" class="form-control mt-2 btn btn-outline-primary ">Guide & Check-list</button>
                </li>
            </ul>
        </div>
    </div>
</div>

{{> footer}}