
.bottom-navbar {
    background-color: #2780E3;
    position: fixed;
    padding: 5px 0px 5px 0px;
    bottom: 0;
}

.nav-tabs .nav-link {
    font-size: 1rem;
    color: #aaa;
}

.bottom-link {
    font-size: 1rem;
    color: #919191;
    opacity: 1;
}

.navbar-icon {
    width: 1.5rem!important;
}

@keyframes fadein{
    from{
        opacity:0;
        transition:transform 0.5s ease-in 0s;
    }
    to{
        opacity:1;
    }
}
.container-fade {
    animation: fadein 0.75s;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}