.container {
    margin: 0;
    padding: 0;
    height: 90vh;
}

.remove-padding {
    padding: 0;
}

.hero-container {
    height: 60vh;
    background-image: url("/img/background_plane.jpg");
    background-size: cover;
}

.row {
    margin: 0;
    padding: 0;
}

.recomendation {
    margin: 10px;
}

.logo-lot {
    width: 60vw;
}

.card {
    border: 0;
}

body {
    margin-bottom: 5rem;
}

.recommended-text {
    margin-left: 15px;
    margin-bottom: -5px;
}

.header-flight-text {
    color: #FFF;
}

.text-colored {
    color: #2780E3;
    padding-top: 10px;
}

.custom-control-label::before,
.custom-control-label::after {
    top: .8rem;
    width: 2rem;
    height: 2rem;
}